<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>
    <div ng-app="MyApp">
        <div ng-controller="HomeController">
            <button id="show-all-educations" ng-click="GetAllEducations()">show all educations</button>
            <button id="show-all-persons" ng-click="GetAllPersons()">show all persons</button>
            <button id="show-all-starting-2017" ng-click="GetAll2017()">show all persons starting 2017</button>
            <input type="text" placeholder="filter currently showing" ng-model="searchterm" />
            <hr />
            <div ng-view>

            </div>
           
        </div>
    </div>
</body>
</html>
