<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/loginInit.js"></script>
</head>
<body ng-app="moviesApp">
    <div ng-controller="logincontroller">
        <form id="login-form">
            <label>
                username:
                <input type="text" id="username" placeholder="username" autofocus ng-model="loginUsername"/>
            </label>
            <label>
                password
                <input type="password" id="password" placeholder="password" ng-model="loginPassword"/>
            </label>
            <label>
                remember me
                <input type="checkbox" id="remember-me" ng-model="loginRememberMe"/>
            </label>
            <button id="login" ng-click="authenticate()">login</button>
        </form>
        <div>
            {{authenticationResult}}
            <a href="{{moviesUrl}}">{{moviesUrl}}</a>
        </div>
    </div>
</body>
</html>
