.times-new-roman-22{
    font-family: 'Times New Roman';/*bydefault on chrome*/
    font-size: 22px;
    color:black;
}
.arial-16{
    font-family: Arial;
    font-size: 16px; /*bydefault on chrome*/
    color:gray;
}

article{
    background-color: highlight;
    padding:5px;
    margin:25px 0px;
}

textarea{
    width: 100%;
}

fieldset{
    background-color: highlight;
}